*{
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  width: 100%;
}
:root {
  --bg: #ffffff;
  --text: #000;
  --card: #f1f5f9;
  --accent: #3b82f6;
}

.dark {
  --bg: #0f172a;
  --text: #ffffff;
  --card: #1e293b;
  --accent: #3b82f6;
}

body {
  margin: 0;
  font-family: Arial;
  background: var(--bg);
  color: var(--text);
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--card);
  position: relative;
}

.theme-btn{
  font-size: 20px;
  cursor: pointer;
}
.right{
  display: flex;
  gap: 15px;
  align-items: center;
}

nav ul {
  display: none;
  flex-direction: column;
  background: var(--card);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  z-index: 1000;
}

nav ul.show{
  display: flex;
}

nav ul li {
  padding: 12px 0;
}

nav ul li:hover{
  color: var(--accent);
  transform: scale(1.05);
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;
}

nav ul li a:hover{
  color: var(--accent);
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 40px;
}

.hero h1{
  min-height: 70px;
}
#typing{
  display: inline-block;
}

.profile-pic{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  width: 220px;
   height: 280px;
   object-fit: cover;
   object-position: center;
  border-radius: 100px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.hero > div:first-child{
  max-width: 500px;
  text-align: center;
}

.hero span {
  color: var(--accent);
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  margin: 10px;
  background: var(--accent);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-group {
  display: flex;
  gap: 15px;
}

.btn:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
/* SECTION */
section {
  padding: 30px 40px;
}

/* ABOUT */

.about-box {
  max-width: 800px;
  line-height: 1.6;
}
/* CARD */
.card {
  background: var(--card);
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  border-left: 2px solid var(--accent);
}

.card .btn{
  margin-top: 10px;
  margin-right: 10px;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skill-box {
  background: var(--card);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  width: 100px;
  transition: 0.3s;
}

.skill-box:hover {
  transform: scale(1.1);
  background: var(--accent);
  color: white;
}

.skill-box i {
  font-size: 30px;
  color: var(--accent);
}

/* FORM */
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* CONTACT */
.contact-section{
  text-align: center;
}

.contact-box{
  max-width: 500px;
  margin: auto;
}

/* CTA SECTION */
.cta{
  text-align: center;
  padding: 50px 20px;
  background: #e5e7eb;
  color: #000;
}

.cta h2{
  margin-bottom: 20px;
  font-size: 24px;
}

/* CTA BUTTON */
.cta a button{
  padding: 12px 25px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.cta a button:hover{
  background: #1d4ed8;
  transform: scale(1.05);
}

/* FOOTER */
.footer{
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255,255,255,0.1);
}

.social{
  margin: 15px 0;
}

.social a{
  color: white;
  margin: 0 12px;
  font-size: 22px;
  display: inline-block;
  transition: 0.3s;
}

.social a:hover{
  color: var(--accent);
  transform: translateY(-5px) scale(1.2);
}

.footer .social i{
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}

.footer .social i:hover{
  color: var(--accent);
}

/* RESPONSIVE */
@media (max-width:768px){

  .hero{
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero h1{
    min-height: auto;
  }
  .hero img{
    width: 200px;
    margin-top: 20px;
  }

  #typing{
    display: inline;
    width: auto;
  }
  .profile-pic{
    margin-top: 20px;
  }
  .btn-group{
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu-btn{
    display: block;
    cursor: pointer;
  }

  nav{
    position: relative;
  }

  nav ul{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--card);
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  nav ul.show{
    display: flex;
  }

  nav ul li{
    padding: 12px;
    color: var(--text);
  }

  nav ul li a{
    color: var(--text);
    text-decoration: none;
  }

  .cta h2{
    font-size: 18px;
  }

  .cta a button{
    width: 100%;
  }

  .skills{
    justify-content: center;
    gap: 10px;
  }

  .skill-box{
    width: 80px;
    padding: 10px;
  }

  .skill-box i{
    font-size: 24px;
  }

  .skill-box p{
    font-size: 14px;
    margin-top: 5px;
  }
}